/***** GENERAL STYLING *****/

/* Affects entire document */
html {
    scroll-behavior: smooth; /* Ensures smooth page scrolling from nav bar clicking */
}

/* Body */
body {
    margin: 0%;  
    opacity: 1; 
    transition: 3s opacity;
    letter-spacing: .1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    overflow-x: hidden; 
}

/* Contributes to fade effect on page load */
body.fade-out {
    opacity: .1;
}

/* H1 elements */
h1 {
    text-transform: lowercase; 
    font-family: 'Abril Fatface', cursive;
    text-align: center; 
    margin-top: 3%; 
    color: #1a1a1a; 
}

/* H1 element hover effect */
h1:hover {
    filter: grayscale(5%); 
    transform: scale(1.1); 
    transition: transform 1s; 
}

/* Portfolio Title styles */
.blue-text {
    color: #69B3E7;
    -webkit-text-fill-color: rgba(0,0,0,0.5);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    font-size: xxx-large;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 10vh;
}

/* Paragraph elements */
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left; 
    letter-spacing: 0.1vw; 
    font-size: 2.5vw;
    padding-left: 1vw; 
    padding-right: 1vw; 
}

/* Paragraph element hover effect */
p:hover {
    transition: transform 1s; 
	transform: scale(1.01);
}

/* Center Text */
.center {
    text-align: center; 
}

/* Center Text hover effect */
.center:hover {
    transition: transform 2s; 
    transform: scale(1.1); 
}

/* Anchor elements */
a {
    color: blue; 
    cursor: pointer;
    text-decoration: underline;
}

/* Quotation elements */
q {
    font-style: italic; 
}

/* Image elements */
img {
    filter: grayscale(65%); 
    border-radius: 12px; 
    max-width: 100%;
    max-height: 100%;
    height: 340px;
    display: block;
    margin: auto auto auto auto; 
}

/* Image element hover effects */
img:hover {
	filter: grayscale(5%);  
    transition: transform 1s; 
	transform: scale(1.1); 
}

/* Styling for footer element */
footer {
    padding: 2%; 
    background-color: white;
}
/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden;
    background-color: black; 
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1; 
    -webkit-animation: moveNav 5s; 
    animation: moveNav 5s;
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} 
    to {left: 0vw;} 
}

/* Navbar links */
.Navbar a {
    float: left;
    display: block; 
    color: white; 
    padding: .75vw 1vw; 
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.5vw;
    text-align: center; 
    position: relative; 
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s; 
}

/* moveNavText animation effect */
@keyframes moveNavText {
    from {top: -100vw;} 
    to {top: 0vw;} 
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #f4f4f4; 
    color: black; 
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
}

/* Navbar home button */
.Navbar a.active {
    background-color: #c31e1e;
}
/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
/* Formatting for background video */
#Header_Video {
    position: fixed; 
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1; 
}

/* Texts over video */
.Video_Text {
    background: rgba(211, 130, 53, 0.4); 
    color: white; /* Makes the font color white */
    width: 100%;
    height: 100vh;
    padding: 2vh;
    position: relative; 
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
    text-align: left;
}

/* Animation effect causes text to move up on page load */
@keyframes moveVideoText {
    from {top: -100vw;} 
    to {top: 0vw;}
}
/***** END OF VIDEO STYLING *****/

/***** SLIDESHOW STYLING *****/
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.3.5)
}

.mySlides {
    display: none;
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

#Slideshow_Container a {
    text-decoration: none;
}

.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 100%;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgrey;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

.dot {
    cursor: pointer;
    height: 1vw; 
    width: 1vw;
    margin: .25vw;  
    background-color: white; 
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

/* Hover effect for slideshow dots */
.active, .dot:hover {
    background-color: black; 
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade; 
    animation-duration: 1.5s; 
    -webkit-animation-name: fade; 
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
}

@keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
}

/***** END OF SLIDESHOW STYLING *****/

/***** TABLE STYLING  *****/
* { /* Universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border */
} 

.Column_1 {
    float: left;
    width: 50%; 
    padding: 1.6%;
    padding-top: 3%;
    height: 450px; 
    background-color: #f2f2f2; 
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: #69B3E7;
}

/* Final row, overrides height and padding for more room */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/* This inserts something after the content */
.Row:after {
	content: ""; 
	display: table; 
	clear: both; 
}
/***** END OF TABLE STYLING *****/

/***** CONTACT FORM STYLING *****/
.Pop_Up_Button {
    position: fixed; 
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white; 
}

/* Input fields */
.form-container input[type=text] {
    width: 100%; 
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-size: 1vw;
}

/* General styling for all buttons */
button {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .3vw; 
    font-size: 1.5vw;
    font-weight: bold; 
    padding: 1.5vw;
    cursor: pointer;
    width: 100%; 
    height: auto; 
}

/* Hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white; 
    background-color: black; 
    transition-duration: 1s; 
    -webkit-transition-duration: 1s;
    border-color: silver; 
}

/* Submit button */
.form-container .btn {
    background-color: white; 
    color: black;
    border-color: black;
    margin-bottom: 1vh; 
}

/* Close button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* Close button on hover */
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
/***** END OF CONTACT FORM STYLING *****/

/* Media Queries */
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/* Media - Nav*/
/* Screens 1080px and smaller */
@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; 
        font-size: 2.5vw;
    }
}

/* Enlarge font of white text for smaller screens */
@media screen and (max-width: 1080px) {
    .quote{
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}

/* Media - Columns */
@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}


/* Removes margin-top from h1 */
@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}
/***** End of Media Query Section *****/